main {
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem 1rem;
}

h1 {
  text-align: center;
}

.todo-list {
  &__filters {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
